<div class="container">
  <div class="row mb-3">
    <div class="col-3">Név</div>
    <div class="col-2">Ár</div>
    <div class="col-2">Mennyiség</div>
    <div class="col-3">Kép</div>
    <div class="col-2">Művelet</div>
  </div>
  <div class="row mb-2">
    <div class="col-3 head">
      <input type="text" class="form-control" [(ngModel)]="jsonService.newItem.name">
    </div>
    <div class="col-2 head">
      <input type="text" class="form-control" [(ngModel)]="jsonService.newItem.price">
    </div>
    <div class="col-2 head">
      <input type="text" class="form-control" [(ngModel)]="jsonService.newItem.amount">
    </div>
    <div class="col-3 head">
      <app-file-upload [showFileNameInput]="true" allowedTypes="image/png, image/jpeg" uploadButtonText="Válassz képet" [(ngModel)]="jsonService.newItem.image"></app-file-upload>
    </div>
    <div class="col-2 head">
      <button class="btn btn-block btn-outline-success" (click)="jsonService.add(jsonService.newItem)">Add</button>
    </div>
  </div>
  <div class="vonal"></div>
  <div *ngFor="let item of jsonService.items" class="row">
    <div class="col-3 rows">
      <input type="text" class="form-control" [(ngModel)]="item.name">
    </div>
    <div class="col-2 rows">
      <input type="text" class="form-control" [(ngModel)]="item.price">
    </div>
    <div class="col-2 rows">
      <input type="text" class="form-control" [(ngModel)]="item.amount">
    </div>
    <div class="col-3 rows"><img class="image" src="{{item.image}}"></div>
    <div class="col-2 rows">
      <button class="btn btn-block btn-outline-warning" (click)="jsonService.delete(item.name)">Delete</button>
    </div>
  </div>
</div>
