<div class="container">
  <div class="row">
    <div class="col-3">Név</div>
    <div class="col-3">Ár</div>
    <div class="col-3">Mennyiség</div>
    <div class="col-3">Művelet</div>
  </div>
  <div class="row">
    <div class="col-3 head"><input type="text" [(ngModel)]="jsonService.newItem.name"></div>
    <div class="col-3 head"><input type="text" [(ngModel)]="jsonService.newItem.price"></div>
    <div class="col-3 head"><input type="text" [(ngModel)]="jsonService.newItem.amount"></div>
    <div class="col-3 head"><button class="btn btn-outline-success" (click)="jsonService.add(jsonService.newItem)">Add</button></div>
  </div>
  <div class="vonal"></div>
  <div *ngFor="let item of jsonService.items" class="row">
    <div class="col-3 rows"><input type="text" [(ngModel)]="item.name"></div>
    <div class="col-3 rows"><input type="text" [(ngModel)]="item.price"></div>
    <div class="col-3 rows"><input type="text" [(ngModel)]="item.amount"></div>
    <div class="col-3 rows">
      <button class="btn btn-outline-warning" (click)="jsonService.delete(item.name)">Delete</button>
    </div>
  </div>
</div>
