<div class="container">
  <div class="row mb-3">
    <div class="col-3">Név</div>
    <div class="col-2">Ár</div>
    <div class="col-2">Mennyiség</div>
    <div class="col-3">Kép</div>
    <div class="col-2">Művelet</div>
  </div>
  <div class="row mb-2">
    <div class="col-3 head">
      <input type="text" class="form-control" [(ngModel)]="fb.newItem.name">
    </div>
    <div class="col-2 head">
      <input type="text" class="form-control" [(ngModel)]="fb.newItem.price">
    </div>
    <div class="col-2 head">
      <input type="text" class="form-control" [(ngModel)]="fb.newItem.amount">
    </div>
    <div class="col-3 head">
      <app-file-upload [showFileNameInput]="true" allowedTypes="image/png, image/jpeg" uploadButtonText="Válassz képet" [(ngModel)]="fb.newItem.image"></app-file-upload>
    </div>
    <div class="col-2 head">
      <button class="btn btn-block btn-outline-success" (click)="fb.add(fb.newItem)">Add</button>
    </div>
  </div>
  <div class="vonal"></div>
  <div *ngFor="let item of fb.tableData let i = index" class="row">
    <div class="col-3 rows">
      <input type="text" class="form-control" [(ngModel)]="item.values.name">
    </div>
    <div class="col-2 rows">
      <input type="text" class="form-control" [(ngModel)]="item.values.price">
    </div>
    <div class="col-2 rows">
      <input type="text" class="form-control" [(ngModel)]="item.values.amount">
    </div>
    <div class="col-3 rows"><img class="image" src="{{item.values.image}}"></div>
    <div class="col-2 rows">
      <div class="w-100 btn-group">
      <button class="w-100 btn btn-outline-warning" (click)="fb.update(item)">Update</button>
      <button class="w-100 btn btn-outline-danger" (click)="fb.delete(item.key)">Delete</button>
    </div>
    </div>
  </div>
</div>
